DagensIndustri/Backup/WS/Web References/se.dagensindustri.ws/WineClub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsActiveDiGoldMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encryptedString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsActiveDiGoldMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsActiveDiGoldMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsActiveDiGoldMemberSoapIn">
    <wsdl:part name="parameters" element="tns:IsActiveDiGoldMember" />
  </wsdl:message>
  <wsdl:message name="IsActiveDiGoldMemberSoapOut">
    <wsdl:part name="parameters" element="tns:IsActiveDiGoldMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="WineClubSoap">
    <wsdl:operation name="IsActiveDiGoldMember">
      <wsdl:input message="tns:IsActiveDiGoldMemberSoapIn" />
      <wsdl:output message="tns:IsActiveDiGoldMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WineClubSoap" type="tns:WineClubSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsActiveDiGoldMember">
      <soap:operation soapAction="http://tempuri.org/IsActiveDiGoldMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WineClubSoap12" type="tns:WineClubSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsActiveDiGoldMember">
      <soap12:operation soapAction="http://tempuri.org/IsActiveDiGoldMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WineClub">
    <wsdl:port name="WineClubSoap" binding="tns:WineClubSoap">
      <soap:address location="http://ws.dagensindustri.se/WineClub/WineClub.asmx" />
    </wsdl:port>
    <wsdl:port name="WineClubSoap12" binding="tns:WineClubSoap12">
      <soap12:address location="http://ws.dagensindustri.se/WineClub/WineClub.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>